@using SimchaFund.Data
@model SimchaFund.Web.Models.SimchaIndexViewModel
<div class="header">
    <h1>Simchas</h1>
</div>
<div class="row header">
    <div class="col-md-4">
        <button class="btn btn btn-danger" id="new-simcha">New Simcha</button>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <tr>
            <th style="text-align: center; vertical-align: middle;">Contributions</th>
            <th style="text-align: center; vertical-align: middle;">Simcha Name</th>
            <th style="text-align: center; vertical-align: middle;">Contributor Count</th>
            <th style="text-align: center; vertical-align: middle;">Total</th>
            <th style="text-align: center; vertical-align: middle;">Date</th>
        </tr>
        @foreach (Simchas simcha in Model.Simchas.OrderByDescending(s => s.Date))
        {
            <tr>
                <td><a class="btn btn-primary" href="/simchas/contributions?simchaid=@simcha.Id">Contributions</a> </td>
                <td>@simcha.Name</td>
                <td>
                    @simcha.ContributorAmount / @Model.TotalContributors
                </td>
                <td>@simcha.Total.ToString("C")</td>
                <td>@simcha.Date.ToShortDateString()</td>
            </tr>
        }
    </table>
</div>
<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New Simcha</h4>
            </div>
            <div class="modal-body">
                <form method="POST" action="/simchas/new">
                    <div class="form-group">
                        <label>Simcha Name</label>
                        <input class="form-control" name="name" placeholder="Simcha Name" type="text">
                    </div>
                    <div class="form-group">
                        <label>Date</label>
                        <input type="date" name="date" class="form-control" id="datepicker">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" name="commit">Save</button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section scripts
{
    <script src="~/Scripts/simcha-index.js"></script>
}